{% extends "::base.html.twig" %}

{% block content %}
    <!-- /inner_content-->
    <div class="inner_content">
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    <li><a href="{{path("lotto_user_homepage")}}">Dashboard</a><span>«</span></li>
                    <li>My Profile</li>

                </ul>
            </div>
        </div>
        <div class="inner_content_w3_agile_info two_in">

            <!--/forms-->
            <div class="forms-main_agileits">
                <div class="graph-form agile_info_shadow">
                    <h3 class="w3_inner_tittle two">My Profile </h3>
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{error}}

                        </div>
                    {% endif %}

                    {% if success %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{success}}

                        </div>
                    {% endif %}
                    <form  class="contact-form" method="post" action="#" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-8">

                                    <label>Upload Picture</label>
                                    {{form_widget(form.file)}}
                                    {{form_rest(form)}}

                                    <hr>
                                    <button id="btnEdit" class="btn btn-info" type="submit">Upload</button> 
                                </div>
                                <div class="col-lg-2">
                                    {% if form.vars.value.path %}
                                        <img style="width:150px; height: 150px" class="img-thumbnail img-responsive" src="{{asset("/uploads/" ~ form.vars.value.path)}}"/>
                                    {% else%}
                                        <img style="width:150px; height: 150px" class="img-thumbnail img-responsive" src="{{asset("/uploads/default-avatar.png")}}"/>
                                    {%endif %}

                                </div>
                            </div>                      
                        </div>
                    </form>
                </div>
            </div>

        </div> 

    </div>

{% endblock %}